@import "base";

.input-wrap {
    width: 100%;
    justify-content: center;
    text-align: center;
}

.input-div {
    margin: 20px;
}

input {
    margin: 12px;
    width: 300px;
    height: 30px;
    font-size: large;
}

.input-wrap{
    button {
    font-size: large;
    width: 150px;
    padding: 8px;
    cursor:pointer;
    box-shadow: 0 6px $shadow-color;
    background-color: $button-color;
    border-radius: 5px;
    }
    button:hover {
        background-color: $hovered;
    }
    button:active {
        box-shadow: 0 3px $shadow-color;
        transform: translateY(3px);
    }
}