@import "base";

.search-form {
    font-size: 25px;
    margin:auto 20px;
    text-align: center;

    input[type='submit'] {
        font-size: large;
        width: 100px;
        padding: 8px;
        height: 35px;
        cursor:pointer;
        box-shadow: 0 4px $shadow-color;
        background-color: $button-color;
        border-radius: 5px;
    }

    input[type='submit']:hover {
        background-color: $hovered;
    }

    input[type='submit']:active {
        box-shadow: 0 2px $shadow-color;
        transform: translateY(2px);
    }
}

h1 {
    text-align: center;
}

.search-label {
    .search-input{
        margin: 0 10px;
        font-size: 24px;
        border-radius: 5px;
    }
}