.navbar{
    width: 100%;
    min-height: 6vh;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(6, 91, 97);

  }

  .scrolled{
    position: fixed;
    top: 0;
    left: 0;
  }

  .logo img{
    width: 50px;
  }
  .navigation{
    padding: 5px;
  }

  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    vertical-align: middle;
  }

  .navigation li{
    float: left; 
   
  }

  a{
    font-size: 200%;
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  .navigation a:hover:not([name="logo"]){
    background-color: rgb(12, 201, 12);
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    a{
      font-size: 100%;
    }
  }

