.navbar{
    width: 100%;
    min-height: 6vh;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(10, 214, 214);
    transition: all .7s ease-in;
  }

  .scrolled{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(6, 91, 97);
  }

  .logo img{
    width: 50px;
  }
  .navigation{
    padding: 5px;
  }

  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .navigation li{
    float: left; 
  }

  a{
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: rgb(245, 39, 8);
    text-decoration: none;
  }

  .navigation a:hover:not([name="logo"]){
    background-color: blueviolet;
  }

  .active:not([name="logo"]) {
    background-color: #4CAF50;
  }

