@import "base";

.item {
    margin: 35px;
}

.song-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0);
}

.buttonDiv{
    text-align: center;
    margin: auto;
}

.buttonDiv button {
    background-color: $delete;
    border: 2px solid $shadow-color;
    font-size: 18px;
    cursor:pointer;
    box-shadow: 0 4px $shadow-color;
}

.buttonDiv button:hover {
    background-color: $delete-hover;
}

.buttonDiv button:active {
    box-shadow: 0 2px $shadow-color;
    transform: translateY(2px);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .item {
        margin: 10px auto;
    }
  }